template(name="love_letters")
  #screens
    .empty-wrapper
      #list-of-cards.screen
        .row.text-center List of Cards
        each gameCard
          .row #{value} - #{name} (#{amount}) : #{shortDesc}
      #played-cards.screen(class="#{actionClass}")
        .row.text-center Played cards     Won Rounds:#{wonRounds}
        each playedCards
          img.row.center-block.img-responsive(src='#{this}.jpg', style='margin-bottom:-290px')
        with dontHave
          img.row.center-block.img-responsive(src='#{this}.jpg', style='margin-bottom:-290px; transform: rotate(90deg)')
        .margin(style='min-height:290px')
      #hand.screen
        .row.text-center Cards in the hand
        .row
          each myCards
            .card
              .col-xs-6
                img.img-responsive(src='#{this}.jpg')
                input(type='hidden', value='#{this}')
        with peek
          br
          .row.text-center.col-xs-6.col-xs-offset-3
            | name: #{name}
            img.img-responsive(src='#{card}.jpg')
      #player-selection.screen
        .row.text-center Select a Player
        br
        br
        each players
          if hasCards
            .row.text-center.player
              .btn.btn-default #{name}
              input(type='hidden', value='#{id}')
            br
      #card-selection.screen
        .row.text-center Select a Card
        .row
          .col-xs-6
            .card
              img.center-block.img-responsive(src='1.jpg', style='height:24vh')
              input(type='hidden', value='1')
          .col-xs-6
            .card
              img.center-block.img-responsive(src='2.jpg', style='height:24vh')
              input(type='hidden', value='2')
        .row
          .col-xs-6
            .card
              img.center-block.img-responsive(src='3.jpg', style='height:24vh')
              input(type='hidden', value='3')
          .col-xs-6
            .card
              img.center-block.img-responsive(src='4.jpg', style='height:24vh')
              input(type='hidden', value='4')
        .row
          .col-xs-6
            .card
              img.center-block.img-responsive(src='5.jpg', style='height:24vh')
              input(type='hidden', value='5')
          .col-xs-6
            .card
              img.center-block.img-responsive(src='6.jpg', style='height:24vh')
              input(type='hidden', value='6')
        .row
          .col-xs-6
            .card
              img.center-block.img-responsive(src='7.jpg', style='height:24vh')
              input(type='hidden', value='7')
          .col-xs-6
            .card
              img.center-block.img-responsive(src='8.jpg', style='height:24vh')
              input(type='hidden', value='8')