template(name="love_letters")
  .container-fluid.text-center
    .row.btn-group(data-toggle="buttons")
      .col-xs-1
        | Played cards
      each cards
        if myTurn
          label.btn.btn-default
            input(type='radio', name="cardRadio")
            | #{this.name}
            br
            | #{cardCount}
        else
          .col-xs-1
            | #{this.name}
            br
            | #{cardCount}
      .col-xs-1
        | discarded: ?
    br
    br
    .row.btn-group(data-toggle="buttons")
      each players
        if myTurn
          label.btn.btn-default
            input(type="radio", name="playerRadio")
            | #{this.name}
        else
          .col-xs-2
            | #{this.name}
    br
    br
    | Your card
    br
    .row.btn-group(data-toggle="buttons")
      each myCards
        if myTurn
          label.btn.btn-default
            input(type="radio", name="myCardRadio")
            | #{this}
        else
          .col-xs-offset-1.col-xs-2
            | #{this}
    br
    .row
      if myTurn
        .btn.btn-default.btn-play
          | Play