template(name="traitor")
  .container-fluid.text-center
    .row
      .col-xs-4
        | Distrust level: #{game.distrust_level}
      .col-xs-4
        | Game state: #{gameState}
      .col-xs-4.btn.btn-default.btn-identity.text-info
        | #{identityLabel}
    .row
      | Players per mission: #{playersPerMissions}
    .row
      | Rejects per mission: #{game.rounds}
    br
    .row
      each players
        +player
    .row
      if canVote
        .col-xs-6.btn.btn-default.btn-vote.btn-yes.text-success(class="#{yesBtnClass}") Yes
        .col-xs-6.btn.btn-default.btn-vote.btn-no.text-danger(class="#{noBtnClass}") No
      if canStartMission
        if showStartMissionBtn
          .col-xs-6.col-xs-offset-3.btn.btn-default.btn-start-mission start mission
        else
          | Select #{playersPerMission} players